.header {
  min-height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 2rem 0;
}

.header>h1 {
  text-align: center;
  color: var(--midnight-blue);
}

.header>h1>span {
  color: var(--orange);
}